html, body {
	margin-left: 15px;
	margin-right: 15px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #fcfcb5;
}


table {
	border-collapse: collapse;
	border-bottom: 1px solid gray;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
}

select{
	width: 130px;
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 16px;
}

.list{
	min-width: 50%;
	max-width: 70%;
}

th {
	border-bottom: 1px solid gray;
	background: none repeat scroll 0 0 #09c332;
	padding: 10px;
	color: #FFFFFF;
}

tr {
	border-top: 1px solid gray;
	text-align: center;
}

td{
	padding: 4px;
}

tr:nth-child(even) {
	background: #BBBBBB;
}

tr:nth-child(odd) {
	background: #FFFFFF;
}

#wrapper {
	width: 100%;
	margin-top: 0px;
}

#header {
	width: 70%;
	background: #09c332;
	margin-top: 0px;
	padding: 15px 0px 15px 15px;
	margin-right: auto;
	margin-left: auto;
}

#header h1 {
	width: 100%;
	margin: auto;
	text-align: center;
	color: #FFFFFF;
}

#container {
	width: 100%;
	display: block;
}

h2 {
	color: #000;
}


.myButton {
	border: 1px solid #666;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	width: 120px; 
	padding: 7px;
	background: #cccccc;
}
#container #content {
	margin-top: 20px;
}
.td_last{
	padding-right: 10px;
}

#buttonsToolBar{
	background-color: #fcfcb5;
	border:none;
}
.button_cell{
	text-align: left;
}